<% const categoriesList = list_categories({ show_count: false }); %>
<% if (is_year() === false) { %>
  <div id="archive">
    <h1>归档</h1>
    <div>
      <% if (categoriesList !== "") { %>
        <%-categoriesList%>
      <% } else { %>
        <p>没有更多内容。</p>
      <% } %>
    </div>
  </div>
<% } else { %>
  <h1><%= page.year+'年'+(page.month?page.month+'月':'') %></h1>
  <% page.posts.each(article => { %>
    <div class="archive-item">
      <p>
        <a href="<%=url_for(article.path)%>"><%=(article.title?article.title:'无标题')%></a>
      </p>
    </div>
  <% }) %>
  <%-partial('partials/paginator')%>
<% } %>
